@model IList<VertoTestProject.Models.Content>;
@{
    ViewData["Title"] = "Home Page";
}

<!--Define a vertical grid for the content-->
<!--Each row will hold a section of content-->
<div class="grid-y">
    <!--1st Row will hold the main splash image-->
    <!--Apply full to stretch image-->
    <div class="grid-container full" style="max-width: 100%">
        <div class="grid-x" style="padding-bottom: 1%;">
            <img src="~/images/bigimage.jpg">
        </div>
    </div>
    <!--Apply a container to control width of content after big image-->
    <div class="grid-container" style="max-width :1280px;">
        <!--2nd Row holds Title, Image and Button to New Products, Field Events, Latest News ect.-->
        <div class="grid-x  grid-margin-x" style="padding-bottom: 1%">
            @foreach (var item in Model)
            {
                @if (item.Title != "Special Offers" & item.Title != "Product Categories")
                {
                    <div class="cell auto">
                        <div class="">@item.Title</div>
                        <div class="">@item.ImageURL</div>
                        <div class="">@item.Description</div>
                        <a class="button" asp-area="" asp-controller="" asp-action="">@item.Title</a>
                    </div>
                }
                
            }
        </div>
        
        <!--3rd Row holds special offer deals-->
        <div class="gird-y background-grey" style="padding-bottom: 1%">
        
            <div class="cell auto large-offset-5">
                Special Offers
            </div>

            <div class="grid-x  grid-margin-x" style="padding-bottom: 1%">
                @foreach (var offer in Model)
                {
                    @if (offer.Title == "Special Offers")
                    {
                        <div class="cell auto">
                            <div class="">@offer.ImageURL</div>
                            <div class="">@offer.Description</div>
                        </div>
                    }
                }
            </div>

            <div class="cell large-offset-5">
                <a class="button" asp-area="" asp-controller="" asp-action="">All Offers</a>
            </div>
        </div>

        <!--4th Row holds prdocut categories-->
        <div class="gird-y" style="padding-bottom: 1%">
            <div class="cell auto large-offset-5">
                Product Categories
            </div>

            <div class="grid-x  grid-margin-x" style="padding-bottom: 1%">
                @foreach (var category in Model)
                {
                    @if (category.Title == "Product Categories")
                    {
                        <div class="cell auto">
                            <div class="">@category.ImageURL</div>
                            <div class="">@category.Description</div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>